<div class="slider">
	<ng-container *ngFor="let movie of movies; let i = index">
		<div class="slide" *ngIf="i == currentSliderIndex" @slideFade>
			<div class="slide-bg">
				<img class="slide-bg-image" [src]="getImagePath(movie.backdrop_path)">
			</div>
			<div class="slide-pane">
				<h2 class="name">{{ movie.title }}</h2>
				<div class="meta">
					<div class="info">
						<span class="rating">
							<span class="app-icon">star</span>
							<span class="rating-value">{{movie.vote_average}}</span>
							<span>/10</span>
						</span>

						<span>{{ movie.vote_count}} Reviews</span>
						<span>{{movie.release_date | date: 'dd/MM/YYYY'}}</span>
					</div>
				</div>
				<div class="desc mt-6" *ngIf="this.isBanner">
					{{ movie.overview }}
				</div>
			</div>
		</div>
	</ng-container>
</div>