<ng-container *ngIf="movie">
	<app-slider [movies]="[movie]" [isBanner]="true"></app-slider>
	<p-tabView>
		<p-tabPanel header="Overview">
			<div class="grid">
				<div class="col-12 md:col-3 lg:col-3">
					<img class="poster" [src]="imageSize.large + movie.poster_path" alt="">
				</div>
				<div class="col-12 md:col-9 lg:col-9">
					<h2>Overview</h2>
					<p class="overview">{{	movie.overview	}}</p>
					<div class="stat">
						<div class="label">Release Date:</div>
						<div class="value">
							{{ movie.release_date | date: 'dd/MM/YYYY' }}
						</div>
					</div>
					<div class="stat">
						<div class="label">Language:</div>
						<div class="value">
							{{ movie.original_language | uppercase }}
						</div>
					</div>
					<div class="stat">
						<div class="label">Genres:</div>
						<div class="value">
							<span *ngFor="let genre of movie.genres">
								{{ genre.name }}
							</span>
						</div>
					</div>
					<div class="stat">
						<div class="label">Revenue:</div>
						<div class="value">
							{{ movie.revenue | currency }}
						</div>
					</div>
				</div>
			</div>
		</p-tabPanel>

		<p-tabPanel header="Videos">
			<div class="grid">
				<ng-container *ngFor="let movieVideo of movieVideos">
					<div class="col-12 md:col-4 lg:col-4">
						<app-video-embeder [key]="movieVideo.key" [site]="movieVideo.site"></app-video-embeder>
					</div>
				</ng-container>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Photos">
			<div class="grid">
				<ng-container *ngFor="let movieImage of movieImages">
					<div class="col-12 md:col-4 lg:col-4">
						<p-image [src]="imageSize.large + movieImage.file_path" alt="Image" width="100%" [preview]="true"></p-image>
					</div>
				</ng-container>
			</div>
		</p-tabPanel>
	</p-tabView>

	<p-carousel *ngIf="movieCredits" [value]="movieCredits.cast" [numVisible]="5">
		<ng-template let-actor pTemplate="item">
			<div class="actor">
				<img [src]="imageSize.medium + actor.profile_path">
				<span>{{ actor.name }}</span>
			</div>
		</ng-template>
	</p-carousel> 
</ng-container>