<div class="container">
	<div class="grid">
		<div class="col-12">
			<div class="p-fluid">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input type="text" pInputText placeholder="Search Movie" [(ngModel)]="searchValue" (change)="searchChanged()">
				</span>
			</div>
		</div>
	</div>

	<div class="grid">
		<ng-container *ngFor="let movie of movies">
			<div class="col-6 md:col-3 lg:col-3" *ngIf="movie.backdrop_path">
				<app-movie-single [movieData]="movie"></app-movie-single>
			</div>
		</ng-container>
		<p-paginator [rows]="20" [totalRecords]="10000" (onPageChange)="paginate($event)"></p-paginator>
	</div>
</div>